<div id="loader"><span class="loader-text"></span></div>
<header class="micro-nav fixed-top pload">
  <nav class="navbar navbar-expand-lg navbar-light bg-success micro-navbar"> <a class="navbar-brand" style="background-color: white;" href="#"
      onclick="return false"><img src="../../assets/img/royal/logo.svg" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span
        class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-fill">
        <li class="nav-item"><a class="nav-link" href="#home"><i class="mi mi-home nav-icon"></i><span
              class="d-sm-inline d-md-none"> Home</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#about"> About</a></li>
        <li class="nav-item"><a class="nav-link" href="#sitefloorplan"><i class="mi mi-ami nav-icon"></i> Floor Plan</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#gallery "><i class="mi mi-gallery nav-icon"></i>Gallery</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#offerings"><i class="mi mi-ami nav-icon"></i> Amenities</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#location"><i class="mi mi-location nav-icon"></i> Map</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact"><i class="mi mi-contact nav-icon"></i>Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
<div id="home" class="carousel slide micro-main-slider" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#home" data-slide-to="0" class="active"></li>
    <li data-target="#home" data-slide-to="1"></li>
    <li data-target="#home" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item">
      <picture>
        <source class="lazyload d-block micro-main-slider-img" media="(max-width: 750px)"
          data-srcset="../assets/img/royal/banner.jpg" type="image/jpg">
        <source class="lazyload d-block micro-main-slider-img" media="(min-width: 751px)"
          data-srcset="../assets/img/royal/banner.jpg" type="image/jpg"> <img data-sizes="auto"
          class="lazyload d-block micro-main-slider-img" data-srcset="../assets/img/royal/banner.jpg">
      </picture>
    </div>
  </div>
</div>
<div class="float-bottom forall desk-none noth">
  <div class="one-box">
    <a href="https://api.whatsapp.com/send?phone=+919663862557&text=Hi!%20I\'m%20Interested%20In%20Skyline%20At%20Financial District,%20Hyderabad.%20Please%20Share%20Details."
      target="_blank">
      <div class="img-icon">
        <i class="fab fa-whatsapp"></i>
      </div>
      <div class="txt-icon">Chat</div>
    </a>
  </div>

  <div class="one-box">
    <a href="tel:+919663862557">
      <div class="img-icon">
        <i class="fas fa-phone"></i>
      </div>
      <div class="txt-icon">Call Now</div>
    </a>
  </div>
</div>
<main class="pload" style="background-color: black;">

  <div class="info-box overflow-hidden">

    <span class="pro-title">SUMADHURA PALAIS ROYALE</span> <span class="pro-add">At Puppalaguda, Kokapet, &#44;
      Hyderabad</span>
    <span class="pro-title">NEW LAUNCH</span>
    <ul class="pro-spec" style="padding-inline-start: 20px;">
      <li style="list-style-type: none;"><span class="list-icon" style="font-weight:bold;">&rtrif;</span> <span
          class="heading" style="font-weight:bold;">Land Acres : 7 Acres</span></li>
      <li style="list-style-type: none;"><span class="list-icon" style="font-weight:bold;">&rtrif;</span> <span
          class="heading" style="font-weight:bold;">No Of Towers : 3</span></li>
      <li style="list-style-type: none;"><span class="list-icon" style="font-weight:bold;">&rtrif;</span> <span
          class="heading" style="font-weight:bold;">No of Floors : 52</span></li>
      <li style="list-style-type: none;"><span class="list-icon" style="font-weight:bold;">&rtrif;</span> <span
          class="heading" style="font-weight:bold;">No of Apartment : 524</span></li>
    </ul>
    <span class="pro-add">Ultra Luxurious 3 & 4 BHK Apartment</span> <br>
    <span class="pro-add"> &#8377; On Request</span> <br>
    <button class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale" data-form="lg"
      data-title="Mail me pricing details" data-btn="Send now" data-enquiry="Enquire Now" data-redirect="enquiry"
      data-toggle="modal" data-target="#enqModal">Enquire Now</button><br><br>
    <span class="heading">TS RERA No. P02400008107</span> <br>
  </div>
  <section class="section overview-section shadow-sm lazyload" id="about">
    <div class="row">
      <div class="col-md-6">
        <h1><strong style="color: white;">Sumadhura Palais Royale: <br/>
          52 Sories Of Luxury</strong></h1><br>
        <p class="la">SAs you step into Sumadhura Palais Royale, prepare to be mesmerized by its grandeur and elegance. The welcoming ambiance envelops you in a sense of tranquility and luxury, making you feel right at home from the moment you arrive.</p>
        <p class="la">The meticulously designed architecture and tasteful interiors speak volumes about the attention to detail that has gone into crafting this residential masterpiece. Each corner exudes sophistication and style, creating an atmosphere that is both inviting and exclusive.</p>
        <p class="la">At Sumadhura Palais Royale, every aspect of your living experience has been thoughtfully curated to offer you the ultimate in comfort and convenience. From state-of-the-art amenities to lush green spaces, every element is designed to enhance your quality of life and elevate your everyday living.</p>
        <p class="la">Get ready to embark on a journey of unparalleled luxury as Sumadhura Palais Royale opens its doors to welcome you into a world where opulence meets modernity in perfect harmony.</p>

        <p>RERA No. : P02400005946</p>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped table-borderless border micro-price-table table-pricing">
              <thead>
                <tr>
                  <th scope="col" class="border border-bottom-0 mb-w">Type</th>
                  <th scope="col" class="border border-bottom-0 mb-w">SBA</th>
                  <th scope="col" class="border border-bottom-0 mb-w">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="border border-left-0 border-top-0 border-bottom-0 price-type">3 BHK</td>
                  <td class="border border-left-0 border-top-0 border-bottom-0 price-carpet">4803 sq.ft.</td>
                  <td class="price-amt">&#8377; On Request</td>
                  <td class="price-amt"><button class="btn btn-sm btn-info effetGradient effectScale enqModal" data-form="lg"
                      data-title="Send me costing details" data-btn="Send now" data-enquiry="Request Price"
                      data-redirect="floorplan" data-toggle="modal" data-target="#enqModal">Schedule Now</button></td>
                </tr>
                <tr>
                  <td class="border border-left-0 border-top-0 border-bottom-0 price-type">4 BHK</td>
                  <td class="border border-left-0 border-top-0 border-bottom-0 price-carpet">6500 sq.ft.</td>
                  <td class="price-amt">&#8377; On Request</td>
                  <td class="price-amt"><button class="btn btn-sm btn-info effetGradient effectScale enqModal" data-form="lg"
                      data-title="Send me costing details" data-btn="Send now" data-enquiry="Request Price"
                      data-redirect="floorplan" data-toggle="modal" data-target="#enqModal">Schedule Now</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
      <div class="col-md-6 mobile-none" style="padding-left: 10%;">
        <img class="img-responsive" src="../../assets/img/royal/tvs-side.jpeg" alt=""  width="90%"/>
      </div>
    </div>
    
  </section>
  
  <section class="section shadow-sm lazyload" data-script="./assets/plugins/fancybox/jquery.fancybox.min.js"
    data-link="../cdn.jsdelivr.net/gh/fancyapps/fancybox%403.5.7/dist/jquery.fancybox.min.css"> <span
      class="section-link" id="sitefloorplan"></span> <span class="head text-capitalize"></span>
    <div class="row">
      <div class="col-12 col-md-4 "> <span class="d-block section-heading-sub text-capitalize">Master Plan</span> <a href="#" class="text-decoration-none enqModal" data-form="lg"
        data-title="Send me plan details" data-btn="Send now" data-enquiry="Floor Plan" data-redirect="floorplan"
        data-toggle="modal" data-target="#enqModal">
          <div class="at-property-item  mt-1">
            <div class="at-property-img master-plan text-center">
              <picture>
                <source class="shadow-sm lazyload  border border-grey"
                  data-srcset=".../../assets/img/royal/Master_Plan.jpg" type="image/webp">
                <img data-sizes="auto" class="lazyload shadow-sm border border-grey"
                  data-srcset=".../../assets/img/royal/Master_Plan.jpg" target="_blank">
              </picture>
              <div class="at-property-overlayer"></div> <span class="at-property-btn">View Master Plan</span>
            </div>
          </div>
        </a> </div>
      <div class="col-12 col-md-8"> <span class="d-block section-heading-sub text-capitalize">Floor Plan</span>
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col-md-4"> <a href="#" class="text-decoration-none enqModal" data-form="lg"
              data-title="Send me plan details" data-btn="Send now" data-enquiry="Floor Plan" data-redirect="floorplan"
              data-toggle="modal" data-target="#enqModal">
              <div class="at-property-item shadow-sm border border-grey mt-1">
                <div class="at-property-img">
                  <picture>
                    <source class="lazyload floor-plan-img" data-srcset=".../../assets/img/royal/floor1.png"
                      type="image/webp"> <img data-sizes="auto" class="lazyload floor-plan-img"
                      data-srcset=".../../assets/img/royal/floor1.png">
                  </picture>
                  <div class="at-property-overlayer"></div> <span class="btn btn-default at-property-btn"
                    role="button">Enquire Now</span>
                </div>
                <div class="at-property-dis effetGradient">
                  <h5>3 BHK</h5>
                </div>
              </div>
            </a> </div>
            <div class="col-md-4"> <a href="#" class="text-decoration-none enqModal" data-form="lg"
              data-title="Send me plan details" data-btn="Send now" data-enquiry="Floor Plan" data-redirect="floorplan"
              data-toggle="modal" data-target="#enqModal">
              <div class="at-property-item shadow-sm border border-grey mt-1">
                <div class="at-property-img">
                  <picture>
                    <source class="lazyload floor-plan-img" data-srcset=".../../assets/img/royal/floor2.png"
                      type="image/webp"> <img data-sizes="auto" class="lazyload floor-plan-img"
                      data-srcset=".../../assets/img/royal/floor2.png">
                  </picture>
                  <div class="at-property-overlayer"></div> <span class="btn btn-default at-property-btn"
                    role="button">Enquire Now</span>
                </div>
                <div class="at-property-dis effetGradient">
                  <h5>4 BHK</h5>
                </div>
              </div>
            </a> </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section shadow-sm lazyload"> <span class="section-link" id="gallery"></span> <span
      class="head text-capitalize"></span>
    <ul class="nav nav-pills mb-3" id="pills-tabgal" role="tablist">
      <li class="nav-item"> <a class="nav-link text-uppercase ami-tab" id="pills-gal-0" data-toggle="pill" href="#gal-0"
          role="tab" aria-controls="gal-0" aria-selected="true">Project Gallery</a> </li>
    </ul>
    <div class="tab-content" id="pills-tabgalContent">
      <div class="tab-pane fade" id="gal-0" role="tabpanel" aria-labelledby="pills-gal-0">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2"> <a data-fancybox="gallery-0"
              href="../assets/img/royal/gal1.png" target="_blank">
              <img data-src="../assets/img/royal/gal1.png" class="lazyload gallery-thumb"> </a> </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2"> <a data-fancybox="gallery-0"
              href="../assets/img/royal/gal2.png" target="_blank">
              <img data-src="../assets/img/royal/gal2.png" class="lazyload gallery-thumb"> </a> </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2"> <a data-fancybox="gallery-0"
              href="../assets/img/royal/gal3.png" target="_blank">
              <img data-src="../assets/img/royal/gal3.png" class="lazyload gallery-thumb"> </a> </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2"> <a data-fancybox="gallery-0"
              href="../assets/img/royal/gal4.png" target="_blank">
              <img data-src="../assets/img/royal/gal4.png" class="lazyload gallery-thumb"> </a> </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section shadow-sm lazyload" id="about">
    <div class="row">
      <div class="col-md-8">
        <div class="club">
          <h1>Sumadhura Palais Royale: Why to Choose
          </h1>
          <p class="la">Looking for a residential project that offers luxury, comfort, and convenience all in one place? Look no further than Sumadhura Palais Royale in Hyderabad.</p>
          <p class="la">Featuring top-notch amenities, spacious living spaces, and a prime location, this upcoming project is designed to elevate your lifestyle to new heights. Whether you're looking for a cozy 2-bedroom apartment or a sprawling penthouse with panoramic views, Sumadhura Palais Royale has something for everyone.</p>
          <p class="la">With meticulous attention to detail and high-quality construction standards, choosing Sumadhura Palais Royale means investing in a home that is built to last. Say goodbye to compromising on quality or cutting corners – at Sumadhura Palais Royale, excellence is non-negotiable.</p>
          <p class="la">Experience the perfect blend of modern design and timeless elegance at Sumadhura Palais Royale. Choose sophistication. Choose luxury. Choose Sumadhura Palais Royale..</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/img/royal/gal1.png" style="width: 100%;" class="img-responsive"
          alt="Skyline" />
      </div>
    </div>
  </section>
  <section class="section shadow-sm lazyload"> <span class="section-link" id="offerings"></span> <span
      class="head text-capitalize"></span>
    <div class="nav nav-pills mb-3">
      <a class="nav-link text-uppercase ami-tab" href="#">
        <h3>Amenities</h3>
      </a>
    </div>
    <div class="row justify-content-center flex">
      <div class="col-6 col-md-3 col-lg-3">
        <div class="ami-block ami-6">
          <div class="ami-container"> <img data-src="../../assets/icon/basketball-court.svg" class="lazyload ami-img">
            <span class="ami-title">Half Basketball Court</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="ami-block ami-6">
          <div class="ami-container"> <img data-src="../../assets/icon/lawn.svg" class="lazyload ami-img"> <span
              class="ami-title">Lawn</span> </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="ami-block ami-6">
          <div class="ami-container"> <img data-src="../../assets/icon/fitness.png" class="lazyload ami-img"> <span
              class="ami-title">Gym</span> </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="ami-block ami-6">
          <div class="ami-container"> <img data-src="../../assets/icon/yoga.svg" class="lazyload ami-img"> <span
              class="ami-title">Aerobics And Dance Room</span> </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="ami-block ami-6">
          <div class="ami-container"> <img data-src="../../assets/icon/swimming.svg" class="lazyload ami-img"> <span
              class="ami-title">Swimming Pool</span> </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="ami-block ami-6">
          <div class="ami-container"> <img data-src="../../assets/icon/pet-care.png" class="lazyload ami-img"> <span
              class="ami-title">pet parks</span> </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="ami-block ami-6">
          <div class="ami-container"> <img data-src="../../assets/icon/kids-play-area.svg" class="lazyload ami-img">
            <span class="ami-title">Children Play Area</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="ami-block ami-6">
          <div class="ami-container"> <img data-src="../../assets/icon/seating.svg" class="lazyload ami-img"> <span
              class="ami-title">Lawn</span> </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section shadow-sm lazyload" data-script="../assets/plugins/fancybox/jquery.fancybox.min.js"
    data-link="../cdn.jsdelivr.net/gh/fancyapps/fancybox%403.5.7/dist/jquery.fancybox.min.css"> <span
      class="section-link" id="location"></span> <span class="head text-capitalize"></span>
   
    <div class="row mb-3">
      <div class=" col-sm-12"> 
        <div class="nav nav-pills mb-3">
          <a class="nav-link text-uppercase ami-tab" href="#">
            <h3>Location</h3>
          </a>
        </div>
        <div class="container">  
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15228.940697223548!2d78.3535645!3d17.400498!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb954d5b1ee519%3A0xd7fe1ef53d2d8e11!2sSumadhura%20Palais%20Royale!5e0!3m2!1sen!2sin!4v1718224499296!5m2!1sen!2sin" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    </div>

    <div class="row">
      <ol>
        <li>
        <p style="text-align: justify;"><strong>Prime Location</strong>: Situated in a sought-after area of Hyderabad, Sumadhura Palais Royale enjoys proximity to key destinations such as business districts, commercial hubs, and entertainment centers.</p>
        </li>
        <li style="text-align: justify;">
        <p><strong>Connectivity</strong>: The project is likely well-connected to major roads, highways, and public transportation networks, allowing residents easy access to other parts of the city. This connectivity can reduce commute times and enhance accessibility.</p>
        </li>
        <li style="text-align: justify;">
        <p><strong>Employment Opportunities</strong>: Hyderabad is a major hub for information technology (IT) and business process outsourcing (BPO) companies, with numerous IT parks and corporate offices located across the city. Residents of Sumadhura Palais Royale may have access to employment opportunities in these sectors, potentially reducing commute times for professionals.</p>
        </li>
        <li style="text-align: justify;">
        <p><strong>Educational Institutions</strong>: Hyderabad boasts several reputed schools, colleges, and universities. Sumadhura Palais Royale's location may offer proximity to educational institutions, making it an ideal choice for families with school-going children.</p>
        </li>
        <li style="text-align: justify;">
        <p><strong>Retail and Entertainment</strong>: The vicinity of Sumadhura Palais Royale may feature shopping malls, multiplexes, restaurants, and recreational facilities, providing residents with ample options for leisure and entertainment activities.</p>
        </li>
        <li style="text-align: justify;">
        <p><strong>Healthcare Facilities</strong>: Access to quality healthcare facilities such as hospitals, clinics, and medical centers is crucial for residents. Sumadhura Palais Royale may be located near healthcare institutions, ensuring residents have convenient access to medical services.</p>
        </li>
        <li>
        <p style="text-align: justify;"><strong>Green Spaces</strong>: Hyderabad is known for its lush greenery and parks. Sumadhura Palais Royale may be situated close to parks or open spaces, offering residents opportunities for relaxation, recreation, and outdoor activities.</p>
        </li>
        </ol>
    </div>
  </section>
  <section class="section shadow-sm lazyload">
    <span class="section-link" id="contact"></span> <span class="d-block section-heading-sub text-capitalize"
      style="font-size:xx-large;text-align:center">Contact Us</span>
    <div class="container">
      <div class="contactMargin">
        <form [formGroup]="myForm" (ngSubmit)="OnSave()" novalidate>
          <div class="form-group mb-2">
            <input type="text" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.name" name="form_name"
              formControlName="name" placeholder="First Name, Last Name" required>
            <div *ngIf="myForm.controls['name'].touched && myForm.controls['name'].invalid" class="alert alert-danger">
              <div *ngIf="myForm.controls['name'].errors?.required">Please enter name</div>
            </div>
          </div>
          <div class="form-group mb-2">
            <input type="email" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.email"
              name="form_email" formControlName="email" placeholder="Your Email" required>
            <div *ngIf="myForm.controls['email'].touched && myForm.controls['email'].invalid"
              class="alert alert-danger">
              <div *ngIf="myForm.controls['email'].errors?.required">Please enter email id
              </div>
              <div *ngIf="myForm.controls['email'].errors?.pattern">invalid email id</div>
            </div>
          </div>
          <div class="form-group mb-2">
            <input type="tel" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.phone"
              formControlName="phone" name="form_phone" placeholder="Your phone" required>
            <div *ngIf="myForm.controls['phone'].touched && myForm.controls['phone'].invalid"
              class="alert alert-danger">
              <div *ngIf="myForm.controls['phone'].errors?.required">Please enter mobile
                number</div>
              <div *ngIf="myForm.controls['phone'].errors?.pattern">Mobile number is not 10
                digit</div>
            </div>
          </div>
          <button class="btn btn-info micro-form-btn effetMoveGradient" [disabled]="!myForm.valid" type="submit"
            style="margin-top: 3%;">Book Now</button>
        </form>
      </div>

    </div>
  </section>
  <div class="modal fade" id="enqModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered enq-modal" role="document">
      <div class="modal-content">
        <div class="modal-body text-center"> <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
          <div class="modal-head d-none"><span class="modal-title"></span></div>
          <div class="d-flex" style="padding-bottom: 8px;">

            <div class="flex-fill align-self-center">
              
              <br>
              <div class="contactMargin">
                <form [formGroup]="myForm" (ngSubmit)="OnSave()" novalidate>
                  <div class="form-group mb-2">
                    <input type="text" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.name"
                      name="form_name" formControlName="name" placeholder="First Name, Last Name" required>
                    <div *ngIf="myForm.controls['name'].touched && myForm.controls['name'].invalid"
                      class="alert alert-danger">
                      <div *ngIf="myForm.controls['name'].errors?.required">Please enter name</div>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <input type="email" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.email"
                      name="form_email" formControlName="email" placeholder="Your Email" required>
                    <div *ngIf="myForm.controls['email'].touched && myForm.controls['email'].invalid"
                      class="alert alert-danger">
                      <div *ngIf="myForm.controls['email'].errors?.required">Please enter email id
                      </div>
                      <div *ngIf="myForm.controls['email'].errors?.pattern">invalid email id</div>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <input type="tel" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.phone"
                      formControlName="phone" name="form_phone" placeholder="Your phone" required>
                    <div *ngIf="myForm.controls['phone'].touched && myForm.controls['phone'].invalid"
                      class="alert alert-danger">
                      <div *ngIf="myForm.controls['phone'].errors?.required">Please enter mobile
                        number</div>
                      <div *ngIf="myForm.controls['phone'].errors?.pattern">Mobile number is not 10
                        digit</div>
                    </div>
                  </div>
                  <button class="btn btn-info micro-form-btn effetMoveGradient" [disabled]="!myForm.valid" type="submit"
                    style="margin-top: 3%;">Book Now</button>
                </form>
              </div>
            </div>
          </div> <a href="tel:+919663862557" class="modal-call-btn" style="padding-top: 15px;"><i
              class="mi mi-call"></i>+91 9663862557</a>

        </div>
      </div>
    </div>
  </div>
</main>
<footer class="disclaimer pload"><b>Disclaimer :</b>The content is for information purposes only and does not
  constitute an offer to avail of any service. Prices mentioned are subject to change without notice and properties
  mentioned are subject to availability. Images for representation purposes only. This is the official website of
  authorized marketing partner. We may share data with RERA registered brokers/companies for further processing. We
  may also send updates to the phone number/email id registered with us. All Rights Reserved.</footer>